<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netease.vendor"
    android:versionCode="35"
    android:versionName="2.2.3"
    android:installLocation="internalOnly">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />
    
    <!-- 加入应用需要的权限 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- ALIPAY SONICWAVE PAYMENT -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
  
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="false" 
    />

    <application
        android:name="com.netease.vendor.application.MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <!-- 主程序欢迎界面-->
        <activity
            android:name="com.netease.vendor.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
            android:launchMode="singleTop"> 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity 
            android:name="com.netease.vendor.activity.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        
        <activity
            android:name="com.netease.vendor.activity.WelcomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        
        <activity 
            android:name="com.netease.vendor.activity.HomePageActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        
        <activity
            android:name="com.netease.vendor.activity.CoffeeInfoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        
        <activity 
            android:name="com.netease.vendor.activity.MakeCoffeeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name="com.netease.vendor.activity.PayCoffeeQrcodeCartActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.netease.vendor.activity.PayCoffeeSonicWaveActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        
        <activity 
            android:name="com.netease.vendor.activity.MachineControlActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name="com.netease.vendor.activity.MaterialConfigActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name="com.netease.vendor.activity.PayCartActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name="com.netease.vendor.activity.MakeCoffeeCartActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        
        <!-- AUTO RUN -->
        <receiver android:name="com.netease.vendor.service.watcher.AutoRunWatcher">
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED" />
		    </intent-filter>
		</receiver>

        <!-- 服务层和AIDL开发接口 -->
        <service
            android:name="com.netease.vendor.service.VendorService"
            android:enabled="true"
            android:exported="false"
            android:label="VendorService"
            android:process=":core" >
            <intent-filter>
                <action android:name="com.netease.vendor.service.IRemoteConn" />
                <action android:name="com.netease.vendor.service.VendorService" />
            </intent-filter>
        </service>

    </application>

</manifest>